





<!-- <div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Categories :
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li value="all"><a class="dropdown-item" (click)="getAllProducts() ; display=true ">All</a></li>
    <li value="electronics"><a class="dropdown-item" (click)="getCustomProduct('e')
      ; display=false">Electronics</a></li>
    <li value="jewelery"><a class="dropdown-item" (click)="getCustomProduct('j'); display=false">Jewelery</a></li>
    <li value="men-clothes"><a class="dropdown-item" (click)="getCustomProduct('m'); display=false">Men's Clothes</a></li>
    <li value="women-clothes"><a class="dropdown-item" (click)="getCustomProduct('w'); display=false">Women's Clothes</a></li>
  </ul>
</div>  -->



<!-- <div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Categories :
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li value="all"><a class="dropdown-item" (click)="getAllProducts() ; display=true ">All</a></li>
    <li value="electronics"><a class="dropdown-item" (click)="getCustomProduct('e')
      ; display=false">Electronics</a></li>
    <li value="jewelery"><a class="dropdown-item" (click)="getCustomProduct('j'); display=false">Jewelery</a></li>
    <li value="men-clothes"><a class="dropdown-item" (click)="getCustomProduct('m'); display=false">Men's Clothes</a></li>
    <li value="women-clothes"><a class="dropdown-item" (click)="getCustomProduct('w'); display=false">Women's Clothes</a></li>
  </ul>
</div> 
 -->
