



// .row>* {
//   /* flex-shrink: 0; */
//   /* width: 100%; */
//   // max-width: 100%;
//   padding-right: calc(var(--bs-gutter-x)* .5);
//   padding-left: calc(var(--bs-gutter-x)* .5);
//   margin-top: var(--bs-gutter-y);
// }

.card{
  margin: auto;
  margin-top: 20px;
padding: auto;
max-width: 220px;
text-overflow: unset;
  &:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);  
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

img{
  max-height: 137px;
}
.description{
  height: 49px;
    overflow: hidden;
}
.count{
  margin-top: -16px;
  margin-bottom: 0;
}
  h5{
    background-color: #eeeeee;
    height: 70px;
    overflow: hidden;
  }
  span{
    display: inline-block;
    height: 35px;
    padding: 4px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #f1b4b4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

}

